header div a.tamanho-logo {        
    font-size: 40px;    
    margin-left: 4px;
    width: 70px;
    height: 70px;
    line-height: 70px;    
}

header div span.tamanho {    
    font-size: 16px
}

header div nav ul li a img {
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}

header div nav ul li a span {
    display: none;
}

main div.item {
    display: block;
    margin: 5px auto;
}