header div a.tamanho-logo {        
    font-size: 60px;    
    margin-left: 10px;
    width: 100px;
    height: 100px;
    line-height: 100px;    
}

header div span.tamanho {    
    font-size: 26px
}

header div nav ul li:hover {
    background-color: #111111;
}

header div nav ul li a img {
    display: none;
}

header div nav ul li a span {
    display: inline-block;
    box-sizing: border-box;
    line-height: 40px;    
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    width: 100px;    
    text-align: center;
}