/*
    Paleta de Cores:
    Vermelho 1: #e15b49
    Vermelho 2: #ad3827    
    Branco 1: #ffffff
    Branco 2: #eeeeee
    Branco 3: #dddddd
    Cinza: #111111
*/

header div {
    position: fixed;
    height: 48px;
    width: 100%;
    min-width: 320px;
    box-sizing: border-box;    
    box-shadow: 0 1px 2px;
    top: 0;

    background-color: #e15b49;
    background-image: linear-gradient(to bottom, #e15b49, #ad3827);
    z-index: 3;
}

header div a.logo {    
    font-family: 'Bad Script', cursive;    
    margin-top: -4px;    
    color: #111111;
    text-decoration: none;
    font-weight: 500;
    display: block;
    float: left;
    background-color: rgba(255,255,255,.5);
    box-shadow: 2px 2px 2px #111111;
    border-radius: 50px;    
    text-align: center;
}

header div span.titulo {
    line-height: 48px;    
    font-family: 'Bad Script', cursive;    
    color: #ffffff;
    margin-left: 10px;
    float: left;
}

header div nav ul {
    list-style-type: none;
    float: right;       
}

header div nav ul li {
    display: inline-block;
    padding: 4px 0;
}

header div nav ul li:last-child {    
    margin-right: 4px;
}

header div nav ul li a {
    text-decoration: none;
}

main div.itens {    
    display: block;
    box-sizing: border-box;
    margin: 60px auto;
    min-width: 320px;
    max-width: 860px;  
}

main div.item {
    display: inline-block;
    margin: 5px 2px;
    box-sizing: border-box;    
    width: 280px;
    height: 280px;
    background-image: linear-gradient(45deg, #eeeeee, #ffffff);
    box-shadow: 0px 0px 4px #dddddd;
    position: relative;
}

main div.item img.roupa {
    width: 220px;
    position: absolute;
    top: 30px;
    left: 30px;    
    border: 0;
    z-index: 1;
}

main div.item a.adicionar {    
    width: 36px;
    height: 36px;
    background-image: url(../img/adicionar.png);
    background-size: 36px 36px;
    display: block;
    position: absolute;
    bottom: 4px;
    right: 4px;
    text-decoration: none;
    z-index: 2;
}

main div.item span.nome {
    position: absolute;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(225, 91, 73, .2);
    z-index: 2;
}

main div.item span.preco {
    position: absolute;
    bottom: 0;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;    
    font-size: 20px;
    background-color: #e15b49;    
    z-index: 2;    
}