header div a.tamanho-logo {        
    font-size: 60px;    
    margin-left: 10px;
    width: 100px;
    height: 100px;
    line-height: 100px;    
}

header div span.tamanho {    
    font-size: 26px
}

nav a.menu {
    display: none;
}

nav div.modal-bloqueio {    
    display: none;
}