/*
    Paleta de Cores:
    Vermelho 1: #e15b49
    Vermelho 2: #ad3827
    Azul 1: #334d5d
    Azul 2: #142a38
    Branco: #ffffff
    Cinza: #111111
*/

header div {
    position: fixed;
    height: 48px;
    width: 100%;
    min-width: 320px;
    box-sizing: border-box;    
    box-shadow: 0 1px 2px;

    background-color: #e15b49;
    background-image: linear-gradient(to bottom, #e15b49, #ad3827);
}

header div a.logo {    
    font-family: 'Bad Script', cursive;    
    margin-top: -4px;    
    color: #111111;
    text-decoration: none;
    font-weight: 500;
    display: block;
    float: left;
    background-color: rgba(255,255,255,.5);
    box-shadow: 2px 2px 2px #111111;
    border-radius: 50px;    
    text-align: center;
}

header div span {
    line-height: 48px;    
    font-family: 'Bad Script', cursive;    
    color: #ffffff;
    margin-left: 10px;
    float: left;
}

/*
div.icone-logo {    
    font-family: 'Bad Script', cursive;
    font-size: 70px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    display: block;
    float: left;
    background-image: linear-gradient(to bottom, #e15b49, #ad3827);
    box-shadow: inset 0 0 5px #000000;
    border-radius: 100px;
    margin-top: 200px;
    margin-left: 200px;
    width: 124px;
    height: 124px;
    line-height: 124px;
    text-align: center;
}
*/