header div a.tamanho-logo {        
    font-size: 40px;    
    margin-left: 4px;
    width: 70px;
    height: 70px;
    line-height: 70px;    
}

header div span.tamanho {    
    font-size: 20px
}

nav a.menu {
    position: fixed;
    display: block;
    top: 7px;
    right: 12px;    
    width: 34px;
    height: 34px;
    background-image: url(../img/hamburger.png);
    background-position: 0 0;
    background-size: 34px 34px;    
}

nav div.modal-bloqueio {
    position: fixed;    
    background-color: rgba(17,17,17,.3);
    width: 100%;
    height: 100%;
    display: none;
    
    opacity: 1;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

nav div.modal-bloqueio ul {
    float: right;    
    margin-top: 7px;
    background-color: #ffffff;
    border: 1px solid #111111;
    box-shadow: inset 0 0 2px #111111;
    list-style-type: none;
    box-sizing: border-box;    
}

nav div.modal-bloqueio ul li {
    border-bottom: 1px solid #111111;
}

nav div.modal-bloqueio ul li:last-child {
    border-bottom: 0;
}

nav div.modal-bloqueio ul li a {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    text-decoration: none;
    box-sizing: border-box;
    width: 180px;
    color: #ad3827;    
    display: block;
    text-align: center;
}


nav div.modal-bloqueio ul li a:active {
    background-color: rgba(225, 91, 73, .2);
}

nav a.menu:active ~ div.modal-bloqueio {
    display: block;
    opacity: 0;
}

nav a.menu ~ div.modal-bloqueio:hover {
    display: block;
}

nav div.modal-bloqueio:active {
    display: none;
    opacity: 1;
}