form {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 400px;
    background-image: linear-gradient(to bottom right, #f7f9f7, #e7e9f7);
    margin: 10px auto;
    padding: 4px;
}
form > fieldset {
    border: 1px solid #cccccc;
    padding: 10px;
}
form > fieldset::after {
    content: "";
    height: 0;
    display: block;
    clear: both;
}
form > fieldset > div.item {
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
form > fieldset > div.item > label {
    box-sizing: border-box;
    display: block;
    width: 30%;
    line-height: 30px;
    color: #111111;
    font-weight: bold;
    float: left;
}
form > fieldset > div.item > input {
    box-sizing: border-box;
    display: block;
    width: 68%;
    float: right;
    font-size: 1.2em;
}
form > fieldset > button {
    float: right;
    font-size: 1em;
    padding: 7px 15px;
}

form > fieldset > button.logout {
    float: none;
    display: block;
    margin: 0 auto;
}

span {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
}

span.success {
    background-image: linear-gradient(to bottom right, #92e7bf, #82d7af);
    color: #12875f;
}

span.error {
    background-image: linear-gradient(to bottom right, #Dba471, #cb9461);
    color: #9b5421;
}
