img.logo {	
	display: inline-block;
	margin-bottom: -3px;
}

/*
	Por que usar !important aqui?
	O Bulma aplica um estilo para dispositivos com no mínimo 769px
	que prevalece em relação à classe .invisivel. Ou seja, não
	funciona no Desktop sem o !important.
*/
.invisivel {
	display: none !important;		
}
.visivel {
	display: block !important;
}
.desvanecer {
	animation: keyframe-desvanecer 3s linear 1s;	
}

@keyframes keyframe-desvanecer {
	from { opacity: 1; }
	to { opacity: 0; }
}