/* Geral */
body {
    font-family: 'Alfa Slab One', cursive;
}

img {
    max-width: 100%;
}

h1 {
    color: #ffffff;;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0.4em;
    text-shadow: 2px 2px 2px #6e3600;
}
a.menu {
    margin: 0 4px;
}

a.comprar {
    display: block;
    width: 40px;
    line-height: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 3px #6e3600;

    font-family: 'Alfa Slab One', cursive;
    font-size: 1.8em;
    text-align: center;
    color: #6e3600;
    text-decoration: none;

    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* Header */
header {                
    width: 100%;
    min-width: 320px;
    line-height: 48px;
    background-image: linear-gradient(to bottom, #d32f2f, #ef5350);
    box-shadow: 0 2px 2px #6e3600;

    font-size: 1.2em;
    color: #ffffff;
    text-shadow: 2px 2px 2px #6e3600;

    text-align: center;                

    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

header > a.menu {
    margin: 0 4px;

    position: fixed;
    top: 0;
    left: 0;
}
header > img.logo {
    float: left;
    height: 46px;
    margin: 2px 4px 0 4px;

    display: none;
}

/* Nav */
nav {
    box-sizing: border-box;
    display: block;
    z-index: 3;
    width: 80%;
    max-width: 300px;
    height: 100%;
    background-color: #ffffff;

    position: fixed;
    top: 0;
    left: -80%;

    transition: left 500ms;
}

nav > a.menu {
    float: left;
}

nav a.link {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 100%;                
    line-height: 48px;

    color: #d32f2f;
    text-align: center;
    font-family: sans-serif;
    text-shadow: none;
    font-size: 1.1em;

    border-top: 1px solid #ffebee;
}
nav a.link:hover {
    background-color: #ffebee;
}
nav a.link:last-child {
    border-bottom: 1px solid #ffebee;
}

.menu-aberto nav {
    left: 0;
}
.menu-aberto::after {
    content: "";
    display: block;
    z-index: 2;
    background-color: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Main */            
main {
    box-sizing: border-box;
    width: 100%;

    /* Limites */
    max-width: 1600px;
    min-width: 320px;
    margin: 60px auto 0 auto;
}

section {
    float: left;

    box-sizing: border-box;
    width: 100%;
    padding: 1em;
}

/* Banner */
section.banner {
    background-image: url(../img/banner-background.jpg);
    background-repeat: repeat-x;
    background-size: 100% 100%;
}
section.banner img {
    max-width: 80%;
    display: inline-block;
}
section.banner p {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;

    padding: 1em;
    font-family: sans-serif;
    color: #ffffff;
    background-color: #d32f2f;

    position: relative;
    top: 0;
    left: 0;
}            

/* Vendas */
section.vendas {
    padding: 0 1em;
}

section.vendas > div.games {     
    background-color: #eceff1;
    padding: 1em 0;
}

section.vendas > div.games img {
    display: block;
    margin: 0 auto;
}

section.vendas > div.games a {
    display: block;
    margin: 0 auto;
    width: 15em;
    max-width: 80%;

    background-color: #283593;
    font-size: 1.05em;
    padding: 0.8em 0.3em;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;      
}

section.vendas > div.switch { 
    margin: 1em 0;
    background-color: #EF4A5B;

    position: relative;
    top: 0;
    left: 0;  
}

section.vendas > div.switch img {
    display: block;
    margin: 0 auto;
}

/* Video */
div.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

div.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 600px) {
    a.menu {
        display: none;
    }
    header {
        text-align: left;
    }
    header > img.logo {
        display: block;
    }
    nav {                    
        width: auto;
        max-width: 70%;
        height: 48px;

        position: fixed;
        bottom: 0;
        right: 0;
        /* Anular left negativo */
        left: auto;

        background-color: rgba(255,255,255,0);
    }
    nav a.link {
        width: auto;
        padding: 0 0.5em;
        border: 0;
        color: #ffffff;
        font-weight: bold;
        font-size: 1em;

        border-left: 1px solid #ffebee;
    }
    nav a.link:hover {
        color: #d32f2f;
    }
    nav a.link:last-child {
        border: 0;
        border-left: 1px solid #ffebee;                    
    }
}

@media screen and (min-width: 800px) {
    section {
        width: 50%;                    
    }
    section.banner img {
        max-width: 100%;
    }
    section.banner p {
        max-width: 18em;
    }
}