* {
    font-family: monospace;
}

div.container {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 360px;
    min-width: 320px;
    margin: 10px auto;
}

div.container > header {
    display: block;
    box-sizing: border-box;
    height: 56px;
    width: 100%;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 310px;
}

div.container > nav {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

div.container > nav::after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}

div.container > nav > a {
    display: block;
    box-sizing: border-box;
    float: left;
    width: 20%;
    text-align: center;
}

div.container > nav > a:hover {
    background-color: #d2d2d2;
}

div.container > nav > a > img {
    border: 0;
    padding: 0;
    margin: 0;
    height: 48px;
    width: 48px;
}

div.container > span.mensagem {
    display: block;
    box-sizing: border-box;
    width: 90%;
    text-align: justify;
    background-color: #d2d2d2;
    padding: 10px;
    margin: 10px auto;
}

div.container > div.vida {
    display: block;
    box-sizing: border-box;
    width: 90%;
    margin: 10px auto;
    border-top: 1px solid #a2a2a2;
    background-image: linear-gradient(to bottom, #e2e2e2, #fff);
    text-align: center;
    padding: 4px;
}

div.container > div.vida > img {
    height: 32px;
}

div.container > form {
    display: block;
    box-sizing: border-box;
    width: 90%;
    margin: 10px auto;
    padding: 4px;

    font-size: 1.2em;
}

div.container > form::after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}

div.container > form > h1 {
    display: block;
    box-sizing: border-box;
    padding: 6px;
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}

div.container > form > h1::before {
    content: '> ';
}

div.container > form > label {
    display: block;
    box-sizing: border-box;
    float: left;
}

div.container > form > label.pergunta {
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

div.container > form > div.resposta {
    display: block;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

div.container > form > div.resposta > label {
    width: 85%;
}

div.container > form > div.resposta > input[type=radio] {
    display: block;
    box-sizing: border-box;
    width: 10%;
    float: left;
    margin: 2px 0;
}

div.container > form > input[type=text] {
    display: block;
    box-sizing: border-box;
    padding: 4px;
    font-size: 1.1em;
    width: 100%;
    border: 1px solid #a2a2a2;
    margin-bottom: 10px;
}

div.container > form > input[type=text]::placeholder {
    color: #a2a2a2;
}

div.container > form > input[type=password] {
    display: block;
    box-sizing: border-box;
    padding: 4px;
    font-size: 1.1em;
    width: 100%;
    border: 1px solid #a2a2a2;
    margin-bottom: 10px;
}

div.container > form > input[type=password]::placeholder {
    color: #a2a2a2;
}

div.container textarea {
    display: block;
    box-sizing: border-box;
    padding: 4px;
    font-size: 1.1em;
    border: 1px solid #a2a2a2;
    margin-bottom: 4px;
}

div.container textarea::placeholder {
    color: #a2a2a2;
}

div.container > form > textarea {
    width: 100%;
}

div.container > form > div.resposta > textarea {
    width: 90%;
}

div.container > form > button {
    display: block;
    box-sizing: border-box;
    float: right;
    border: 0;
    background-color: #e2e2e2;
    box-shadow: 3px 3px 0 #a2a2a2;
    text-align: center;
    line-height: 30px;
    font-size: 1.0em;
    font-weight: bold;
    width: 50%;
    margin-top: 4px;
}

div.container > span.status-jogo {
    display: block;
    box-sizing: border-box;
    width: 90%;
    text-align: center;
    background-color: #111111;
    color: #ffffff;
    font-size: 2em;
    padding: 10px;
    margin: 10px auto;
}

div.container > a.link-acao {
    display: block;
    box-sizing: border-box;
    border: 0;
    background-color: #e2e2e2;
    box-shadow: 3px 3px 0 #a2a2a2;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    width: 50%;
    margin: 10px auto;
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
}

div.container > table {
    box-sizing: border-box;
    border: 0;
    width: 100%;
}

div.container > table > thead > tr > th {
    text-align: center;
    background-color: #111111;
    color: #ffffff;
    font-size: 1.4em;
    padding: 10px;
    font-weight: bold;
}

div.container > table > tbody > tr {
    border-bottom: 1px solid #111111;
}

div.container > table > tbody > tr:hover {
    background-color: #eeeeee;
}

div.container > table > tbody > tr > td {
    width: 90%;
    font-size: 1.1em;
    padding: 6px;
}

div.container > table > tbody > tr > td:last-child {
    width: 10%;
}

div.container > table > tbody > tr > td button {
    display: block;
    box-sizing: border-box;
    border: 0;
    margin-bottom: 3px;
    background-color: #e2e2e2;
    box-shadow: 3px 3px 0 #a2a2a2;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    font-size: 1.2em;
}

div.container > table > tbody > tr > td.info {
    width: 100%;
    font-size: 1.1em;
    padding: 6px;
    background-color: #eeeeee;
    text-align: justify;
}
