img.logo {	
	display: inline-block;
	margin-bottom: -3px;
}

div.esconder {
	display: none;
}

div.mostrar {
	display: block;
}

.sumir {
	animation: keyframes-sumir 3s linear 1s;
}

@keyframes keyframes-sumir {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}