header {
    display: block;
    line-height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #3f4354;
    box-shadow: 0 3px 3px black;
    color: white;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
}
main {
    margin-top: 60px;
    font-size: 1.4em;
}

table {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
table tr th {
    background-color: black;
    color: white;
    padding: 4px;
}
table tr td {
    border: 1px solid black;
    padding: 2px;
}

span.mensagem {
    display: block;
    box-sizing: border-box;
    border: 1px solid #6e5b0d;
    color: #6e5b0d;
    background-color: #f8ffbb;
    text-align: center;
    line-height: 30px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    font-size: 1.4em;
}
legend {
    font-size: 0.8em;
}
input {
    width: 100%;
    box-sizing: border-box;
    font-size: 0.6em;
}
label {
    font-size: 0.6em;
}
button {
    float: right;
    margin-top: 20px;
    font-size: 0.6em;
}
