header {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 2px 2px #111111;
    background-image: linear-gradient(to bottom, #e0e0e0, #f0f0f0);

    color: #111111;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 48px;

    min-width: 320px;
}

header > img.logo {
    display: block;
    float: left;
    height: 42px;
    margin: 4px 14px 4px 10px;
}

header > img.loading {
    display: none;
    float: right;
    height: 32px;
    margin: 8px;
}

main {
    width: 96%;
    margin: 60px auto;
    font-family: 'Kaushan Script', cursive;

    min-width: 320px;
    max-width: 400px;
}

main li {
    display: block;
    float: left;
    box-sizing: border-box;
    border: 1px solid #111111;
    box-shadow: 2px 2px 2px #666666;
    width: 100%;
    margin-bottom: 10px;
}

main li > div.imagem {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 20%;
    margin: 5px 0;
}

main li > div.imagem > img {
    height: 80px;
}

main li > section {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 80%;
    padding: 8px;
}

main li > section > span {
    display: block;
    margin-bottom: 8px;
}

main li > section > span.nome {
    font-size: 1.4em;
    color: #111111;
}

main li > section > span.descricao {
    font-size: 1em;
    color: #717171;
}

main li > section > span.atributos {
    float: left;
    margin-right: 20px;
    font-size: 1em;
    color: #717171;
}
