div.css-scss {
  margin: 20px;
  width: 300px;
  padding: 10px;
  background-color: indianred; }
  div.css-scss span {
    display: block;
    width: 48px;
    margin: 0 auto;
    background-color: rosybrown;
    border: 3px solid white; }
    div.css-scss span img {
      width: 40px;
      height: 40px;
      margin: 4px; }
