div.css-normal {
    margin: 20px;
    width: 300px;
    padding: 10px;
    background-color: indianred;
}

div.css-normal span {
    display: block;
    width: 48px;    
    margin: 0 auto;
    background-color: rosybrown;
    border: 3px solid white;    
}

div.css-normal span img {
    width: 40px;
    height: 40px;
    margin: 4px;
}