$tamanho-div: 300px;

div.css-scss {
    margin: 20px;
    width: $tamanho-div;
    padding: 10px;
    background-color: indianred;

    span {
        display: block;
        width: 48px;
        margin: 0 auto;
        background-color: rosybrown;
        border: 3px solid white;
    
        img {
            width: 40px;
            height: 40px;
            margin: 4px;
        }
    }
}