
header div {
    position: fixed;
    height: 48px;
    width: 100%;
    min-width: 320px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px;
    top: 0;

    background-color: #e15b49;
    background-image: linear-gradient(to bottom, #e15b49, #ad3827);
    z-index: 3;
}

header div a.logo {
    font-family: 'Bad Script', cursive;
    margin-top: -4px;
    color: #111111;
    text-decoration: none;
    font-weight: 500;
    display: block;
    float: left;
    background-color: rgba(255,255,255,.5);
    box-shadow: 2px 2px 2px #111111;
    border-radius: 50px;
    text-align: center;
}

header div a.tamanho-logo {
    font-size: 40px;
    margin-left: 4px;
    width: 70px;
    height: 70px;
    line-height: 70px;
}

header div span.titulo {
    line-height: 48px;
    font-family: 'Bad Script', cursive;
    color: #ffffff;
    margin-left: 10px;
    float: left;
}

header div span.tamanho {
    font-size: 16px
}

/* Navbar */

header div nav ul {
    list-style-type: none;
    float: right;
}

header div nav ul li {
    display: inline-block;
    padding: 4px 0;
}

header div nav ul li:last-child {
    margin-right: 4px;
}

header div nav ul li a {
    position: relative;
    text-decoration: none;
}

header div nav ul li a > aside.total-produtos {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

    width: 26px;
    line-height: 26px;
    border-radius: 13px;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.7);

    color: #eeeeee;
    font-weight: bold;
}

header div nav ul li a img {
    display: block;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    margin: 4px 0;
}

header div nav ul li a span {
    display: none;
}

main {
    margin-top: 60px;
}

/* Mensagens */

main section.mensagem {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-width: 320px;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
main section.mensagem > img {
    float: left;
    width: 32px;
    height: 32px;
    margin: 4px 10px;
}

main section.warning {
    background-color: #f57f17;
}
main section.success {
    background-color: #0288d1;
}

main section.success > a {
    clear: both;
    display: block;
    line-height: 40px;
    color: #ffffff;
}

main section.success > a > img {
    float: left;
    width: 32px;
    height: 32px;
    margin: 4px 10px;
}

main section.invisivel {
    display: none;
}

/* Lista de Itens */

main div.itens {
    display: block;
    box-sizing: border-box;
    margin: 10px auto;
    min-width: 320px;
    max-width: 860px;
}

main div.item {
    position: relative;
    display: block;
    margin: 5px auto;
    box-sizing: border-box;
    width: 280px;
    height: 280px;
    background-image: linear-gradient(45deg, #eeeeee, #ffffff);
    box-shadow: 0px 0px 4px #dddddd;
}

main div.item img.roupa {
    width: 220px;
    position: absolute;
    top: 30px;
    left: 30px;
    border: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

main div.item img.roupa-mostrar {
    opacity: 1;
}

main div.item img.loading {
    width: 220px;
    position: absolute;
    top: 30px;
    left: 30px;
    border: 0;
    z-index: 1;
    opacity: 1;
    transition: opacity 1s;
}

main div.item img.loading-esconder {
    opacity: 0;
}

main div.item a.adicionar {
    width: 36px;
    height: 36px;
    background-image: url(../img/adicionar.png);
    background-size: 36px 36px;
    display: block;
    position: absolute;
    bottom: 4px;
    right: 4px;
    text-decoration: none;
    z-index: 2;
}

main div.item span.nome {
    position: absolute;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(225, 91, 73, .2);
    z-index: 2;
}

main div.item span.preco {
    position: absolute;
    bottom: 0;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
    background-color: #e15b49;
    z-index: 2;
}

/* Formulários */

main form {
    display: block;
    box-sizing: border-box;
    margin: 20px auto 10px auto;
    width: 95%;
    min-width: 320px;
    max-width: 400px;
    background-color: #eeeeee;
}

main form.editar-produto {
    display: none;
}

main form > div {
    padding: 10px;
}
main form > div::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

main form h1 {
    box-sizing: border-box;
    width: 100%;
    background-color: #111111;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
}

main form > div label {
    display: block;
    float: left;
    font-weight: bold;
    line-height: 28px;
    width: 30%;
    box-sizing: border-box;
    margin-top: 4px;
    clear: both;
}

main form > div input {
    display: block;
    float: left;
    font-weight: bold;
    width: 70%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 3px;
    margin-top: 4px;
}

main form > div input:disabled {
    background-color: #dddddd;
}

main form > div select {
    display: block;
    float: left;
    font-weight: bold;
    width: 70%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 3px;
    margin-top: 4px;
}

main form > div div.carregar-imagem {
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(45deg, #eeeeee, #ffffff);
    box-shadow: 0px 0px 4px #dddddd;
    margin-top: 4px;
    float: left;
    clear: both;
    display: none;
}

main form > div div.carregar-imagem input[type=file] {
    width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

main form > div div.carregar-imagem input[type=file] + label {
    display: block;
    box-sizing: border-box;
    background-color: #ad3827;
    border: 0;
    padding: 0;
    margin: 0;
    width: 20%;
    text-align: center;
}

main form > div div.carregar-imagem input[type=file] + label > img {
    margin: 0;
    padding: 6px 0 0 0;
    width: 32px;
    height: 32px;
}

main form > div div.carregar-imagem input[type=text] {
    font-weight: bold;
    width: 60%;
    font-size: 16px;
    padding: 3px;
    margin-left: 10px;
    line-height: 30px;
    background-color: #dddddd;
}

main form > div div.carregar-imagem > img {
    height: 30px;
    border: 0;
    padding: 8px 6px 0 6px;
    float: right;
    display: none;
}

main form.editar-produto section.mensagem {
    box-sizing: border-box;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f57f17;
    clear: both;
    text-align: center;
    display: none;
}

main form > div div.exibir-imagem {
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(45deg, #eeeeee, #ffffff);
    box-shadow: 0px 0px 4px #dddddd;
    padding: 10px;
    margin-top: 4px;
    float: left;
    clear: both;
    position: relative;
    display: none;
}

main form > div div.exibir-imagem > img {
    display: block;
    width: 220px;
    margin: 0 auto;
}

main form > div div.exibir-imagem > a.excluir {
    display: block;
    text-decoration: none;
    width: 32px;
    height: 32px;
    background-color: #ffcdd2;
    background-image: url(../img/excluir.png);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    position: absolute;
    top: 0;
    right: 0;
}

main form > div input.validacao {
    width: 60%;
}

main form > div input.validacao + span {
    display: block;
    float: left;
    box-sizing: border-box;
    height: 28px;
    width: 9%;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    margin-top: 4px;
}

main form > div input.validacao + span.info {
    background-image: url(../img/info-black.png);
}
main form > div input.validacao + span.success {
    background-image: url(../img/success-black.png);
}
main form > div input.validacao + span.warning {
    background-image: url(../img/warning-black.png);
}
main form > div input.validacao + span.loading {
    background-size: 22px 22px;
    margin-top: 4px;
    margin-left: 2px;
    background-image: url(../img/loading-black.gif);
}

main form > div button[type=submit] {
    display: block;
    box-sizing: border-box;
    background-color: #ad3827;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    width: 100px;
    line-height: 32px;
    border: 0;
    text-align: center;
    margin-top: 6px;
}

main form > div button[type=button] {
    display: block;
    box-sizing: border-box;
    background-color: #ffcdd2;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    line-height: 32px;
    border: 0;
    text-align: center;
    margin-top: 6px;
    margin-right: 6px;
}

/* Tabela */

main div.borda {
    display: block;
    width: 96%;
    min-width: 320px;
    max-width: 800px;
    box-sizing: border-box;
    border: 2px solid #ad3827;
    margin: 0 auto;
}
main div.borda > h1 {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #ad3827;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
}

main div.borda > h1 > a.novo-produto {
    height: 32px;
    width: 32px;
    display: block;
    float: right;
    background-image: url(../img/novo.png);
    background-repeat: no-repeat;
    background-size: 32px 32px;
}

main div.borda > footer {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #ad3827;
    color: #ffffff;
    text-align: right;
    padding-right: 8px;
    line-height: 32px;
}

main div.borda > span.vazio {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #eeeeee;
    text-align: center;
    line-height: 32px;
}

main div.borda ul {
    list-style: none;
    margin: 4px;
}
main div.borda ul::after {
    content: "";
    height: 0;
    display: block;
    clear: both;
}

main div.borda ul li {
    width: 100%;
    float: left;
    display: block;
    box-sizing: border-box;
    margin-bottom: 4px;
}
main div.borda ul li:last-child {
    margin-bottom: 0;
}

main div.borda ul li > span {
    line-height: 30px;
    float: left;
    display: block;
    box-sizing: border-box;
    background-color: #ffcdd2;
    padding: 4px;
}

main div.borda ul li > span.preload {
    background-color: #ededed;
    width: 100%;
    text-align: center;
    padding: 0;
    line-height: normal;
}

main div.borda ul li > span.preload > img {
    display: inline-block;
    height: 22px;
    border: 0;
    padding: 4px 0 0 0;
}

main div.borda ul li > span.descricao {
    width: 70%;
}

main div.borda ul li > span.preco {
    margin-left: 1%;
    width: 19%;
    text-align: center;
    background-image: url(../img/reais.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 20px 16px;
}

main div.borda ul li > span.excluir {
    margin-left: 1%;
    width: 9%;
    height: 38px;
    background-image: url(../img/excluir.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
}
main div.borda ul li > span.excluir:hover {
    background-color: #e15b49;
}

main div.borda ul li > span.editar {
    margin-left: 1%;
    width: 9%;
    height: 38px;
    background-image: url(../img/editar.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
}
main div.borda ul li > span.editar:hover {
    background-color: #dddddd;
}

main form.concluir-compra {
    background-color: #ffffff;
    width: auto;
    height: auto;
    border: 0;
}

main form.concluir-compra > button {
    display: block;
    box-sizing: border-box;
    background-color: #111111;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    width: 200px;
    line-height: 38px;
    border: 0;
    text-align: left;
    padding-left: 10px;
    text-decoration: none;

    position: relative;
}

main form.concluir-compra > button > img {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 4px;
    top: 2px;
}

@media screen and (min-width: 800px) {
    header div a.tamanho-logo {
      font-size: 60px;
      margin-left: 10px;
      width: 100px;
      height: 100px;
      line-height: 100px;
    }

    header div span.tamanho {
      font-size: 26px
    }

    header div nav ul li:hover {
      background-color: #111111;
    }

    header div nav ul li a img {
      display: none;
    }

    header div nav ul li a span {
      display: inline-block;
      box-sizing: border-box;
      line-height: 40px;
      font-family: Arial, Helvetica, sans-serif;
      color: #ffffff;
      font-weight: bold;
      width: 100px;
      text-align: center;
    }
    header div nav ul li:last-child a span {
      width: 140px;
    }

    header div nav ul li a > aside.total-produtos {
        left: 4px;
        bottom: -4px;
    }

    main section.mensagem {
        max-width: 400px;
        margin: 0 auto;
        border-radius: 5px;
    }

    main div.item {
        display: inline-block;
        margin: 5px 2px;
    }
}
