h1.title {
	font-size: 1.8em;
}

img.logo {	
	display: inline-block;
	margin-bottom: -3px;
}

a.nao-permite-selecionar {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.desativado {
	pointer-events: none;
}

img.link-card-loading {
	height: 24px;
	display: block;
	margin: 0 auto; 	
}

/*
	Por que usar !important aqui?
	O Bulma aplica um estilo para dispositivos com no mínimo 769px
	que prevalece em relação à classe .invisivel. Ou seja, não
	funciona no Desktop sem o !important.
*/
.invisivel {
	display: none !important;		
}
.visivel {
	display: block !important;
}
.desvanecer {
	animation: keyframe-desvanecer 3s linear 1s;	
}

@keyframes keyframe-desvanecer {
	from { opacity: 1; }
	to { opacity: 0; }
}