h1.title {
	font-size: 1.8em;
}

img.logo {	
	display: inline-block;
	margin-bottom: -3px;
}

a.nao-permite-selecionar {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.desativado {
	pointer-events: none;
}

img.link-card-loading {
	height: 24px;
	display: block;
	margin: 0 auto; 	
}

div.esconder {
	display: none;
}